<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:900,400' rel='stylesheet' type='text/css'>
    <style> *{font-family: 'Lato', sans-serif;} </style>
    <link rel="stylesheet" href="css/chai-pitch.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <meta name='viewport' content='width=device-width' />
</head>

<body>

<div class="outer">


    <div class="section intro">
        <img src="images/ChaiIcon.png" height="100px" width="100px"></img>
        <p class="icon-label">Chai</p>

        <div class="margin-top one-liner">
            Find interesting people to hang out with, near you.
        </div>
    </div>

    <div class="section problem main-color">
        <h3>Problem</h3>

        <div class="margin-top">
            <p class="one-liner">Interacting with others in our community is an important aspect of personal wellbeing.</p>
            <p class="margin-top list-header centered">Existing platforms:</p>
            <ul>
                <li>Difficult to meet around a casual activity (eg. playing a board game with a small group of people) </li>
                <li>Difficult to interact with those that aren't already friends.
            </ul>
        </div>

    </div>

    <div class="section solution">
        <h3>Solution</h3>

        <div class="margin-top">
            A location based mobile platform that allows users to post activities and invite others near them, or join in on activities happening nearby.
        </div>
    </div>

    <div class="section market-validation main-color">
        <h3>Market Validation</h3>
        <div class="Grid margin-top">

            <div class="Cell float-left">
                <img class="cell-image" src="images/meetup-logo.png"></img>
                <p class="bold centered">Meetup.com</p>
                <p class="centered">22.77 million members, and 210,240 groups meetup groups</p>
            </div>

            <div class="Cell float-right">
                <img class="cell-image" src="images/down-to-lunch-logo.png"></img>
                <p class="bold centered">Down to Lunch app</p>
                <p class="centered">#1 on the app store in April 2016</p>
            </div>

        </div>
    </div>

    <div class="section product">
        <h3>Product</h3>
        <div class="Grid margin-top">

            <div class="Cell-prod float-left">
                <p class="bold centered">See what people are up to near you.</p>
                <img class="prod-image" src="images/MeetsView.png"></img>

            </div>

            <div class="Cell-prod float-left">
                <p class="bold centered">Join in.</p>
                <img class="prod-image" src="images/MeetJoin.png"></img>

            </div>


            <div class="Cell-prod float-left">
                <p class="bold centered">Chat with other members.</p>
                <img class="prod-image" src="images/MeetChat.png"></img>
            </div>

        </div>
    </div>


    <div class="section adoption-strategy">
        <h3>Adoption Strategy</h3>
        <ul class="margin-top">
            <li>Start on college campuses (Berkeley, Georgia Tech)</li>
            <li>Manually create meets for student organization meetings and other student events on campus.</li>
            <li>Get together a set of early users that post events, and create awareness for others on campus by giving away free chai.</li>
        </ul>
    </div>

    <div class="section competition main-color">
        <h3>Competition</h3>

        <ul class="margin-top">
            <li><span class="bold">Meetup.com: </span>
                <p>- average group size too large </p>
                <p>- too formal (meets are set in advance, and usually recurring)</p>
                <p>- creation fee that deters casual meet proposals</p>
            </li>
            <li><span class="bold">Down to Lunch app: </span>
                <p>- currently only helps meet people you already know.</p>
                <p>- This could change to include people you don't know; potentially becoming the biggest competition in the informal meeting space.</p>
            </li>

        </ul>

    </div>

    <div class="section competitive-advantage">
        <h3>Competitive Advantage</h3>

        <ul class="margin-top">
            <li>Have experience initiating get-togethers on campuses:  <a href="http://www.koopuluri.com/chai">http://www.koopuluri.com/chai</a></li>
            <li>Simple interface.</li>
            <li>Leverage networks at multiple universities for launch and feedback.</li>
        </ul>

    </div>

    <div class="section timeline">
        <h3>Timeline</h3>
        <div class="margin-top">
            App is currently under review for App Store submission.
        </div>
    </div>

    <div class="section team main-color">
        <h3>Team</h3>

        <ul class="margin-top">
            <li><span class="bold">Karthik Uppuluri (full-time)</span></li>
            <li><span class="bold">Sandeep Subramanian (part-time):</span> Help with launch and marketing.</li>
            <li><span class="bold">Faisal Animashaun (part-time):</span> Help with backend development </li>
            <li><span class="bold">Saathwik Yadavalli (part-time):</span> Independent designer (India) - front end design</li>
        </ul>
    </div>

    <div class="section contact">
        <h3>Contact</h3>
        <div class="margin-top">
            <ul class="margin-top">
                <li><span class="bold">email: </span>kartuppuluri@gmail.com</li>
                <li><span class="bold">phone: </span>470-881-0619</li>
            </ul>
        </div>
    </div>

</div>

<div id="about-container"></div>
<div id="feed-container"></div>
<div id="contact"></div>

<script src="js/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

<script> $( document ).ready(function(){
        $(".button-collapse").sideNav();
    });</script>
</body>
</html>
