<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content='width=device-width' />
    <link href='https://fonts.googleapis.com/css?family=Lato:900,400' rel='stylesheet' type='text/css'>
    <style> *{font-family: 'Lato', sans-serif;} </style>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/post.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>

<body>
<nav>
    <div class="nav-wrapper" style="background: black">
        <a href="/" class="brand-logo">Koopuluri</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/posts">Posts</a></li>
            <li><a href="/design-thoughts">Design Thoughts</a></li>
            <li><a href="/photography">Photograpy</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/posts">Posts</a></li>
            <li><a href="/design-thoughts">Design Thoughts</a></li>
            <li><a href="/photography">Photograpy</a></li>
        </ul>
    </div>
</nav>

<div id="title-container"><h1><%= title %></h1></div>
<div id="timestamp"><%= timestamp %></div>
<div id="content">
    <div class="poop">
        <div class="bold">
            <p> I have one class to pass to officially graduate from Georgia Tech with a BS in Computer Science. I was supposed to graduate this past May, but I didn’t get a passing grade for an advanced math class that was a requirement.
                I’ve pointed out some areas I could get points back and am in talks with the professor to resolve it, but it might not go through.
            </p>
            <p>
                If this issue isn’t resolved with the professor, I will likely not pay the fee to take that single class again.
            </p>
        </div>

        <p> I'm writing this for complete transparency.</p>
        <p>
            It’s kind of long to explain as an introduction during conversation with new people.
            I was in a scenario yesterday in which I mentioned I studied computer science at an institution and moved from there recently.
            This elicited a congratulations for graduating. Before I could stop and correct, the person left the room.
        </p>

        <p>It was never my intention to mislead, but I feel like my laziness in trying to spell everything out could
        result in a mis-interpretations. I'll do my best to never let that happen again.</p>

        <p>
            I don’t want to use the word dropout, because that sounds like I intended to not complete school and
            leave early, and the term misleading in its own way. But that’s not the case - I started my last semester with
            the intention of graduating, and didn't do so.
        </p>

        <p>
            <b>The main reason to not complete it right now:</b> It costs a lot! Time and money.
            I'm ready to do what I want to do. The most common reaction I come across is “Oh, you spent so much
            money getting to the end, and now that’s a waste!”. I gained a lot during my time at school (whether
            the cost was justified is a different topic altogether). I don’t think that having a certificate at the
            end will radically transform me, but the journey sure has.
        </p>

        <i>My <a href="/resume">resume</a> now links to this post from the education section</i>

    </div>
</div>
<script src="js/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

<script> $( document ).ready(function(){
        $(".button-collapse").sideNav();
    });</script>
</body>
