<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/ulysses.css" />
		<title>Sup Fletch</title>
	</head>
<body>
<h1>Sup Fletch</h1>

<h2>7/27/16<br/></h2>

<h3>Agenda for today’s FT:</h3>

<ul>
	<li><strong>How was your day?</strong></li>
	<li><a href="https://docs.google.com/document/d/1CwXzkSGxD7dhJqrlai-nOBHUE_SRciHlNj1drXADF0Q/edit_%0A%09-%20-%3E%20AWW%20MAN,%20this%20is%20a%20great%20post!%20I%E2%80%99d%20love%20to%20see%20you%20publish%20this%20:D%20:D%20:D%E2%80%A6">Your Post about Racial Bias and Machine Learning</a>

		<ul>
			<li>-&gt; AWW MAN, this is a great post! I’d love to see you publish this :D :D :D…</li>
		</ul></li>
	<li><strong>Is it possible to love more than one person at a time?</strong>

		<p>Interesting thought we had the other day. Read an a couple of articles about this during my break and spent a little time thinking. </p>

		<p>I think there are multiple angles to this: one is that it’s a biological thing, and it’s def possible to have a biological reaction towards multiple people. But the stance I have is that loving someone is an <strong>iterative process</strong> —&gt; like many other forms of art. I consider it an art… an experience. It takes time, effort and dedication. I’m confident that I can’t love more than one person at a time because I simply don’t have the time to do so. The amount of time I spend understanding you, breaking you down, and experiencing you, I simply cannot do for anyone else EVEN IF I WANTED TO (which I honestly have no motivation for). So while I do acknowledge that it is possible for people; I just can’t see it being something that my mind is capable of given all of the <strong>other things that I’m working towards in life.</strong> </p></li>
	<li><strong>Meaningfulness in the workplace</strong>

		<p>Interesting read. I def agree with many of the points (by analyzing my own experiences through the lens of this article).</p></li>
	<li><strong>Friday night frenzy: so many parties wanting to meet</strong>

		<p>Want to get an understanding of what your plans are for the weekend.</p></li>
</ul>

</body>
</html>
