<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/ulysses.css" />
		<title>Hello Scale</title>
	</head>
<body>
<h1>Hello Scale</h1>

<p>Having an API for human labor can be really powerful. </p>

<p>I like both your immediate benefit for small players (small business, independent developers, etc. to have access to human resource without the high overhead in dealing with people), and the long-term vision for automation.</p>

<p><strong>Question</strong></p>

<p>What’s the vetting process for those performing the tasks right now? Clearly when the tasks get more complicated / more dangerous in some ways, then a more adaptable process is required. I’d like to know what thoughts you have on scaling the vetting process to other tasks and possibly other demographics.</p>

<p>This is one initial bottleneck I see. I envision partnerships with other services working in on-boarding more types of tasks without drastically re-thinking the existing vetting process, buying time to learn about those processes internally. </p>

<p>I love the idea and would love to discuss other thoughts I have. I came across your company during my job hunting process. </p>

<p><strong>About Me</strong></p>

<p>I like to work on tackling high impact problems. At a fundamental level, I’m driven by finding ways to level the playing field of opportunity through technology by giving individuals the power to do more with less resources.</p>

<p>I’m looking to join a small team with a similar mindset.</p>

<p><a href="http://www.koopuluri.com/resume">An overview of some work I’ve done in the past</a></p>

<p>I’m located in the Bay Area and would love to chat.</p>

<p>Cheers,</p>

<p>Karthik Uppuluri (<a href="http://www.koopuluri.com">http://www.koopuluri.com</a>)</p>

</body>
</html>
