<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <style> *{font-family: 'Roboto', sans-serif;} </style>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

	<div class="outer">
		<div class="nav-bar">

			<p><a href="/">Home</a></p>
			<p><a href="/posts">Posts</a></p>
			<p><a href="/photography">Photography</a></p>

		</div>

		<div class="content">

			
			<h1> Koopuluri </h1>

			<img class="profile-pic" src="images/blogPic.jpg"></img>

			<div class="intro">
				<p class="margined"> 
					I like to solve problems that I believe are worthwhile. 
				</p>

				<p class="margined">
					I've worked on <a href="/xnote" >Xnote</a> and am currently focusing on increasing interactions within communities - (post coming soon).
				</p>

				<p class="margined"> 
					I'm interested in discussing any ideas / projects you're working on --> reach me at <a href="mailto:koopuluri@gmail.com">koopuluri@gmail.com</a><br>
				</p>

				<p class="margined"> 
					<a href="/why" >Why I made this site</a>.
				</p>
			</div>

			<h1 class="posts"> Posts: </h1>

			<div>
				<% for(var url in posts) { %>
				     <p><a class="post-link" href="<%= url %>"><%= posts[url]['title'] %></a></p>
				<% } %>
			</div>
		</div>
	</div>

    <div id="about-container"></div>
    <div id="feed-container"></div>
    <div id="contact"></div>

</body>
</html>