<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:900,400' rel='stylesheet' type='text/css'>
    <style> *{font-family: 'Lato', sans-serif;} </style>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>

	<div class="outer">

		  <nav>
		    <div class="nav-wrapper" style="background: black">
		      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="/posts">Posts</a></li>
		        <li><a href="/photography">Photograpy</a></li>
		      </ul>
		      <ul class="side-nav" id="mobile-demo">
	      		<li><a href="/posts">Posts</a></li>
		        <li><a href="/photography">Photograpy</a></li>
		      </ul>
		    </div>
		  </nav>

		<div class="content">

			<div class="image" style = 'background-image: url(images/blog.jpg)'></div>
			<p><a href="mailto:koopuluri@gmail.com">koopuluri@gmail.com</a></p>
			<p>
				<span>
					<img src="images/github.png" style="width: 35px"></img>
					 <b><a href="https://github.com/koopuluri"> koopuluri</a></b>
				 </span>
			</p>
			<p>
				<span>
					<img src="images/snapchat.png" style="width: 30px"></img>
					 <b>k-uppu</b>
				</span>
			</p>

			<div class="intro">

				<p class="margined">
					I've worked on <a href="/xnote" >Xnote</a> and am currently focusing on increasing interactions within communities - (<a class="post-link" href="/meet">Meet peeps</a>).
				</p>

				<p class="margined">
					If you're in Atlanta and would like some Chai, let me know!
				</p>

				<p class="margined">
					<a href="/why" >Why I made this site</a>.
				</p>
			</div>

      <div class="posts-container">
          <div class="posts-section">
      			<h2 class="posts"> Posts: </h2>

      			<div>
      				<% for(var url in posts) { %>
      				     <p><a class="post-link" href="<%= url %>"><%= posts[url]['title'] %></a></p>
      				<% } %>
      			</div>
          </div>

          <div class="designs-section">
            <h2>Design Thoughts: </h2>
            <div>
              <% for(var url in designPosts) { %>
                   <p><a class="post-link" href="<%= url %>"><%= designPosts[url]['title'] %></a></p>
              <% } %>
            </div>
          </div>
      </div>

		</div>
	</div>

    <div id="about-container"></div>
    <div id="feed-container"></div>
    <div id="contact"></div>

    <script src="js/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script> $( document ).ready(function(){
    	$(".button-collapse").sideNav();
    });</script>
</body>
</html>
