<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <style> *{font-family: 'Roboto', sans-serif;} </style>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

	<div class="outer">
		<div class="nav-bar">

			<p><a href="/">Home</a></p>
			<p><a href="/posts">Posts</a></p>
			<p><a href="/photography">Photography</a></p>
			<p><a href="/resume">Resume</a></p>

		</div>

		<div class="content">

		</div>
	</div>

    <div id="about-container"></div>
    <div id="feed-container"></div>
    <div id="contact"></div>

</body>
</html>