<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300:900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/resume.css">
</head>

<body>

  <div class="personal-info">

      <p class="name">Karthik Uppuluri</p>

      <div class="line-info">
        <p> 1064A Atlantic Drive NW, Atlanta, GA, 30318 <p>
        <p> <span class="keyword">Email:</span> kartuppuluri@gmail.com</p>
        <p> <span class="keyword">Phone:</span> 770-548-4706</p>
        <p> <span class="keyword">Github:</span> github.com/koopuluri</p>
        <p> <span class="keyword">Site:</span> www.koopuluri.com</p>
      </div>
  </div>

  <div class="summary">
      Aims to work on high impact software as part of a driven team.
  </div>

  <div class="projects">
      <div class="project">
          <span class="project-position">Founder,</span>
          <span class="project-title">Meet@Tech (www.koopuluri.com/meet)</span>
          <p class="project-date-range">[ Jan '16 - Present ]</p>

          <ul>
            <li>Ios application that connects students in a one mile radius over mutual interests.</li>
          </ul>
      </div>

      <div class="project">
            <span class="project-position">Co-Founder,</span>
            <span class="project-title">Xnote (www.koopuluri.com/xnote)</span>
            <p class="project-date-range">[ Jan '15 - Present ]</p>

          <ul>
            <li>Collaborative annotation tool that allows teams to easily annotate and discuss content such as research papers or articles. (Android and web)</li>
            <li>Android <span class="bold">source: </span> <span class="link">https://github.com/koopuluri/xnote-android</span>. Supported 120+ active users.</li>
            <li>Web <span class="bold">source: </span> <span class="link">https://github.com/koopuluri/xnote-web</span>
          </ul>
      </div>

      <div class="project">
            <span class="project-position">Software Engineering Intern,</span>
            <span class="project-title">Pindrop Security</span>
            <p class="project-date-range">[ May '14 - Aug '14 ]</p>

          <ul>
            <li>Implemented Python scraping tool to anonymously extract complaint information from phone complaint sites.</li>
            <li>Developed machine learning system that analyzed caller complaint information to detect trends over time in phone scams.</li>
            <li>Co-authored paper based on project: “Top Consumer Phone Scams” (available on request) - featured on TechCrunch: <span class="link">http://techcrunch.com/2014/10/10/tinder-spammers-move-to-sms-after-improvements-to-dating-apps-security/</span></li>
          </ul>
      </div>

      <div class="project">
            <span class="project-position">Undergraduate Researcher,</span>
            <span class="project-title">Robotics Lab - Georgia Tech</span>
            <p class="project-date-range">[ Aug '12 - May '13 ]</p>

          <ul>
            <li>Implemented Reinforcement learning algorithms to play Pacman.</li>
            <li>Tested probabilistic and statistical reinforcement learning algorithms against the iterative algorithms on the Pacman model.</li>
          </ul>
      </div>
  </div>

</body>
</html>
