<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300:900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/resume.css">
</head>

<body>

  <div class="personal-info">

      <p class="name">Karthik Uppuluri</p>
      <p> 1064A Atlantic Drive NW, Atlanta, GA, 30318 </p>
      <div>
          <span class="tag border-right">kartuppuluri@gmail.com</span>
          <span class="tag border-right">470-881-0619</span>
          <span class="tag border-right"> github.com/koopuluri</span>
          <span class="tag">www.koopuluri.com</span>
      </div>
  </div>

  <div class="content">
    <div class="projects">
        <p class="project-title-big">Experience</p>
        <div class="project">
            <span class="project-position">Founder,</span>
            <span class="project-title">Meet@Tech (www.koopuluri.com/meet)</span>
            <span class="project-date-range">[ Jan '16 - Present ]</span>

            <ul>
              <li>Ios application that connects students in a one mile radius over mutual interests.</li>
              <li>Built application from ground up, and expecting to rollout to users early summer '16.</li>
            </ul>
        </div>

        <div class="project">
              <span class="project-position">Co-Founder, CEO,</span>
              <span class="project-title">Xnote (www.koopuluri.com/xnote)</span>
              <span class="project-date-range">[ Jan '15 - Present ]</span>

            <ul>
                <li>Architectured front-end and back-end for both web and Android apps using a Node.js, React.js, MongoDB stack.</li>
                <li>Led team of 2 (one developer and one designer) - Set organizational protocols (Github, Agile), and strategies to create and sustain a feedback loop with users.</li>
                <li>Android <span class="bold">source: </span> <span class="link">https://github.com/koopuluri/xnote-android</span>. Supported 120+ active users.</li>
                <li>Web <span class="bold">source: </span> <span class="link">https://github.com/koopuluri/xnote-web</span>
            </ul>
        </div>

        <div class="project">
              <span class="project-position">Software Engineering Intern,</span>
              <span class="project-title">Pindrop Security</span>
              <span class="project-date-range">[ May '14 - Aug '14 ]</span>

            <ul>
              <li>Implemented Python scraping tool to anonymously extract complaint information from phone complaint sites.</li>
              <li>Developed machine learning system that analyzed caller complaint information to detect trends over time in phone scams.</li>
              <li>Co-authored paper based on project: “Top Consumer Phone Scams” (available on request) - featured on TechCrunch: <span class="link">http://techcrunch.com/2014/10/10/tinder-spammers-move-to-sms-after-improvements-to-dating-apps-security/</span></li>
            </ul>
        </div>

        <div class="project-last">
              <span class="project-position">Undergraduate Researcher,</span>
              <span class="project-title">Robotics Lab - Georgia Tech</span>
              <span class="project-date-range">[ Aug '12 - May '13 ]</span>

            <ul>
              <li>Implemented Reinforcement learning algorithms to play Pacman.</li>
              <li>Tested probabilistic and statistical reinforcement learning algorithms against the iterative algorithms on the Pacman model.</li>
            </ul>
        </div>
    </div>

    <div class="tools-section">
         <p class="project-title-big">Languages, Tools, Frameworks</p>
         <div class="tools-div">
             <li>Android</li>
             <li>Ios - swift</li>
             <li>MongoDB</li>
         </div>

         <div class="tools-div">
             <li>Node.js</li>
             <li>React.js</li>
             <li>Flask (Python)</li>
         </div>

         <div class="tools-div">
             <li>Git</li>
             <li>Bash Scripting</li>
         </div>

         <div class="tools-div">
              <li>Python</li>
              <li>Javascript</li>
              <li>Java</li>
         </div>
    </div>

    <div class="education-section">
        <p class="project-title-big">Education</p>
        <span>BS Computer Science - Georgia Tech:  3.18/4.00</span>
    </div>

    <div class="leadership section">
        <p class="project-title-big">Leadership</p>
        <div class="project-leadership">
              <span class="project-position">Co-Director,</span>
              <span class="project-title">TEDx GeorgiaTech</span>
              <span class="project-date-range">[ Aug '14 - May '15]</span>

            <ul>
              <li>Recruited 14 member team across 4 functional divisions.</li>
              <li>Oversaw finance and speaker recruitment divisions.</li>
              <li>Co-ordinated 2 events with combined 500 strong audience and 16 speakers</li>
            </ul>
        </div>

        <div class="project-leadership">
              <span class="project-position">News Clustering Team Lead,</span>
              <span class="project-title">Big Data Club Georgia Tech</span>
              <span class="project-date-range">[ Aug '14 - Dec '14]</span>

            <ul>
              <li> Led machine learning sub-team (15 members) on Google news clone project.</li>
            </ul>
        </div>

    </div>
  </div>

</body>
</html>
