<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/ulysses.css" />
		<title>Shruti Reply:</title>
	</head>
<body>
<h1>Shruti Reply:</h1>

<p><strong>Outline: </strong></p>

<ul>
	<li>Thoughts on education</li>
	<li>Question reply (Have a couple left, will update soon)</li>
	<li>My Questions (I have quite a few, but have to crash now. Will get back to you tomorrow - be prepared).</li>
</ul>

<p><strong>what abt the emotional / affective component of teaching &amp; learning? i mean sure, we can drive down costs, but are costs rly the problem? what do u think we might gain +/- lose w fewer humans in the process?</strong></p>

<p>Great question about teaching and learning. </p>

<p>I believe humans are very important in the learning process. I don’t think fewer humans in education is a positive direction. But here’s the issue I see:</p>

<p>Currently, higher education isn’t accessible to a majority of the world’s population. With recent efforts such as Coursera, Udacity, MOOCs, and other online open coursewares, the distribution of high quality content is possible (well, this is ignoring a huge problem of lack of internet access for huge chunk of the human population). But there’s still a gap between taking what’s learned online and applying it. If we take an inner city kid, who has a low chance of going to college - if this person chooses to learn something in the future, and even if they’re at the same competence level as someone who went to a great college, they’d still have a super difficult time getting a job (I can get into the reasons why this is the case if you’re interested).</p>

<p>And if they want to get a college degree, it’s super expensive - even online degrees. Why? I’ll use the Georgia Tech Online Masters program as an example - It costs about 12,000 bucks to get an online masters degree. Sure it’s cheaper than the regular one because of reduced infrastructure costs, and larger class sizes, but it’s still prohibitively high because the institution still has to hire a bunch of grad students to grade the tests.</p>

<p>If we could devise a system that could test students’ competence at a much lower cost, then we’d drive down the entry cost to apply an online education. </p>

<p>Education is a big factor in social mobility, and reducing the cost barrier to entry is one approach to improve mobility.</p>

<p>I’m actually looking at startups right now that are focusing on creating artificial intelligence systems to better gauge a person’s competence - to tackle the difficulty of getting a job if you have the skills, but missing a degree from a top institution. </p>

<p>I understand that this might be very difficult to do for subjects that aren’t easily measurable (eg. the arts), but right now I want to focus on the subjects that are measurable. I’m confident that down the line, artificial agents will be able to understand human language and will be able to respond in an intelligent manner. It’ll be interesting to see what happens when AI gets close to human level intelligence. </p>

<p>I want more humans in the process, but the way to scale to the masses is through technology by augmenting human teachers. I want to bring up the lower bound of education. Sure on the higher level, for those that can afford it, one-one or small classroom environments at academic institutions might provide a better experience, but the lower bound sucks right now. </p>

<p><strong>1) what music have u been listening 2? </strong></p>

<p>Old school rap (check out: https://www.youtube.com/watch?v=BONgL61snlM), rap instrumentals, ambient music for in the zone sessions. </p>

<p><strong>2) what are ur fav scents</strong></p>

<p>I love the smell of sweat after playing a sport or a long day’s worth of physical exertion. That salty, sweaty mixture is great - especially when multiple people contribute to the scent. </p>

<p>Agarbattis bring me back to my grandma’s prayer room scenes, so I like that. </p>

<p><strong>3) whats ur worst habit </strong></p>

<ul>
	<li>I set overly aggressive deadlines. It’s great when no one else depends on my output / I’m working alone. But when I’m working with others, this can lead to stress sometimes. I have a new system in place to tackle this, will share.</li>
	<li>Sometimes I take too long to communicate. This is a perfect example, I like to take time to write things out, but I think I also need to develop the quick writing skill. I’m actually practicing this in this post - so you might find some grammar, spelling and thought errors. I used to think it was great to really think things through for everything I say. I still think it’s important to think things through, but I have to be a lot faster. I chalked out 40 mins to answer your questions on my calendar. I need to be able to do it much quicker than that - and perhaps refine it later. </li>
</ul>

<p><strong>4) do u have a standard breakfast? what is it?</strong></p>

<p>I try not to eat until 12pm. When I break my fast then, it’s usually chai / some kind of mild-ish caffeine. Lately I’ve been consuming carbs along with the afternoon chai, but I want to move away from that for many reasons. </p>

<p><strong>5) is there anything u can do for hours without being bored</strong></p>

<p>I can sit on a river bank a long time without getting bored. The constant movement is beautiful. Reminds me of many other aspects of life. </p>

<p><strong>6) does hosting dinner parties appeal 2 u? who wd u host ur ideal dinner party for &amp; what wd u cook? <a href="">assume u have to do it urself w/o a partner</a></strong></p>

<p>Hosting dinner parties does appeal to me. My ideal dinner party wouldn’t actually be a dinner party, but rather some kind of get-together where I don’t have to focus too much on making the food, etc. but can focus more creating an environment that allows people from any background to feel at home and participate in discussion. Chai get-togethers are something that a friend (I think you know Viggy) and I (www.koopuluri.com/chai) experimented with last year, and something that I continued to do this year (but more with friends rather than strangers).</p>

<p>There was this homeless group in Berkeley that used to live in a park right next to the place I lived at. They used to cook something every night and sat in a circle - discussing random things. I had this itch to join them for a night, but didn’t do so for some reason. I want to go back with some food or something and join them. </p>

<p>I love meeting people from very different backgrounds than mine. </p>

<p><strong>7) whats ur fav kind of nature to be around</strong></p>

<p>Dynamic.</p>

<p><strong> whats ur fav emoji? this is the most imp q</strong></p>

<p>:D </p>

<p><strong>9) what wd u say drives u? whats one thing u want to do by the end of 2016, the end of 2017, and before ur 30? </strong></p>

<p>Leveling the distribution of opportunity drives me. My current focus on education stems from this desire. I feel that sometimes I derive pleasure from knowing that I care about this, but feel hypocritical and fake when I’m not pushing hard for the changes I want. I feel like my actions aren’t yet fully in line with my desire. I’m on my way to fix that. </p>

<p>“will update”</p>

<p><strong>10) whats ur relationship w ur family like </strong></p>

<p><strong>11) whats 1 unpopular opinion u have</strong></p>

</body>
</html>
