<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/ulysses.css" />
		<title>Xnote</title>
	</head>
<body>
<h1>Xnote</h1>

<p><a href="http://www.koopuluri.com/xnote">Xnote</a> was a platform that allowed users to collaboratively annotate and discuss articles on the web.</p>

<p>Motivation:</p>

<p>I come across an article that I think my friends would find interesting. I copy and paste the link for that article in a groupchat. I say &quot;Go to paragraph 3 that talks about space monkeys; we need something like that in our story&quot;.</p>

<p>A friend clicks on the link, scrolls down to the relevant paragraph, reads it, comes back to the chat application, and replies to my message. </p>

<p>I didn&#39;t find this workflow painful when I used my laptop, but when I tried to share stuff over phone, I was annoyed. My friends and I increasingly used our phones for productive work (replying to email, writing short posts, etc.). Great phones at cheaper prices enabled this shift in behavior. I wanted to take advantage of this transition.</p>

<p><strong>The workflow with Xnote: </strong></p>

<p>I open an article on Xnote. I highlight parts of it and take notes. My friends can open that article and read my annotations superimposed on the article itself. They could then reply to them or annotate different parts. In the end, we would have our thought layer on top of the article, and months later when we want to reference something we talked about earlier, we can search. </p>

<p>There were other annotation apps out there, but none of them focused on groups, and didn&#39;t work seamlessly on mobile and web (which I felt was important to bridge the gap in the transition from web --&gt; mobile). </p>

<p>I&#39;m going to share some stuff I thought about during this process:</p>

<h2>Prepare for a Longer Timeline</h2>

<p>I started actually working on Xnote in February of 2015. I gave myself till the end of summer to work on it - and only continue if Xnote reached a certain level of traction (I think it was something like 1000 users that used it everyday - this was a horrible way to measure progress, and I&#39;ll talk about this later). <a href="https://www.linkedin.com/in/vigneshprasad">Viggy</a> joined me in March. </p>

<p>We took 2 1/2 months developing the first Android version, leaving us only a couple of months to get feedback and iterate. </p>

<p>This is what growth for many companies looks like (credit Ooshma Garg of Gobble during her talk at YC):</p>

<figure><img src="http://www.koopuluri.com/images/gobble_growth.png"/></figure>

<p>Gobble didn&#39;t start growing until a year after launch. This isn&#39;t uncommon. </p>

<p>Achieving any level of growth can take a while. I ignored this.. I wanted to see rapid growth, and felt that if I didn&#39;t, then the product wasn&#39;t really useful. </p>

<p>Growth is the best validation. But until that arrives, I have to believe in something that keeps me working on it. A single user (that could be me) that absolutely loves (and USES) the product would help me believe in its potential. </p>

<p>I underestimated the mental side of things. I wasn&#39;t terribly excited by the concept, and found it a bit difficult to push hard during more difficult times. I now want to only work on something that I care about a lot.. I understand the power of that force.</p>

<h2>Clear Goals and Milestones:</h2>

<p>I didn&#39;t have a clear goal in place that would help me decide whether I would continue working on Xnote after summer. </p>

<p>Having measurable goals makes it easier to plan the path. </p>

<h2>Team Dynamic:</h2>

<p>I recognized that Viggy is quick to learn new things and interested in the problem that Xnote was meant to solve. </p>

<p>There&#39;s a cost involved in bringing on board another person. I set an aggressive short-term deadline before Viggy hopped on. I should have relaxed this deadline to accommodate the cost in bringing Viggy up to speed. </p>

<p><strong>Sticking to the aggressive deadline lead to consequences: </strong></p>

<p>Ideally, we would have wanted to divide work in a way that minimized our inter-dependency. That wouldn&#39;t work in this scenario - Viggy lacked experience developing features independently, and would take a while to do so (and rightly so). We wouldn&#39;t have been able to hit the deadline this way. Instead, I laid down the major architectures for both the front-end and the back-end, and Viggy worked on top of them. This meant that Viggy didn&#39;t really &quot;own&quot; any particular feature. </p>

<p>Ownership is important in product development. People work best when they take pride in their work. If I know exactly the feature or function that I&#39;m responsible for, then I&#39;m more likely to take pride in it. </p>

<p>I think a good check for this is to explain what I do: &quot;I&#39;m working on the payment portal for shopper payments&quot; is much better than &quot;I&#39;m working on a little bit of the front-end for the payment portal, some documentation for the database layer, and oh also some data cleansing for the data science team&quot;.</p>

<p>In many cases, it&#39;s difficult to avoid the latter, but I think it&#39;s a worthwhile endeavor to minimize it.</p>

<p>Later, Viggy owned much of the front-end feature development. I loved what he produced, and noticed that he was more enthusiastic about his work. </p>

<p>During this initial development phase, I regularly felt that we were behind. I think overly-aggressive deadlines are great when I work alone, or when everyone on the team works on completely independent parts. But once people depend on the output of others, not having a reliable timeline for those outputs results in a culture in which it&#39;s difficult to rely on others. </p>

<h2>Avoided Reflecting Right Away</h2>

<p>After we stopped working on Xnote, we experimented with initiating get-togethers with strangers nearby: (http://www.koopuluri.com/chai). We rushed forward so quickly, that we didn&#39;t sit down and think about what happened and what we could have done better. When I sat down to think about Xnote a while later, I found it more difficult to remember some of the details. On the positive, I was able to analyze it more objectively.</p>

<p>I don&#39;t want to miss reflecting on an experience right after it happens. I value the details. </p>

<h2>More:</h2>

<p>Viggy is currently wrapping up his internship at Tilt. I&#39;m glad to have seen him grow so much over the course of Xnote and our experiments after. He&#39;s one of the quickest learners I know, and I&#39;m confident he&#39;ll do cool things in the future. Perhaps we&#39;ll work together again. </p>

</body>
</html>
