*{
	font-family: 'Roboto', sans-serif;
	color: #3e3f3a;
}

.verse {
	line-height: 1;
}

.profile {
	width: 60%;
	margin-left: 18%;
}

.centered {
	text-align: center;
}

.upper-margin {
	margin-top: 20px;
}

.upper-margin-large {
	margin-top: 60px;
}

img {
	margin-top: 60px;
	margin-bottom: 60px;
	width: 100%;
}

#content {
	padding-bottom: 80px;
}

.quote {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-style: italic;
}

.bold {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 900;
}

#content {
	font-size: 18px;
	line-height: 1.5;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}