*{
	font-family: 'Roboto', sans-serif;
	color: #3e3f3a;
}

iframe {
	width: 100%;
}

#title-container {
	font-size: 20px;
	text-align: center;
}

#timestamp {
	text-align: center;
}

.top-border {
	border-top: thin double #B0B0B0;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 40px;
}

.post-link {
	margin-left: 15px;
}

.verse {
	line-height: 1;
}

.profile {
	width: 60%;
	margin-left: 18%;
}

.centered {
	text-align: center;
}

.non-centered {
	text-align: left;
}

.upper-margin {
	margin-top: 20px;
}

.upper-margin-large {
	margin-top: 60px;
}

.bottom-margin {
	margin-bottom: 40px
}

/*img {
	margin-top: 60px;
	margin-bottom: 60px;
}*/

.xnote-image {
	margin-bottom: 30px;
	width: 100%;
	max-width: 300px;
}

.img-box {
	text-align: center;
	width: 100%;

}

.main-image {
	width: 179px;
}

#content {
	padding-bottom: 80px;
}

.quote {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-style: italic;
}

.bold {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 900;
}

#content {
	font-size: 18px;
	line-height: 1.5;
	width: 97%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}




