<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:900,400' rel='stylesheet' type='text/css'>
    <style> *{font-family: 'Lato', sans-serif;} </style>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/post.css" type="text/css"/> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
	<nav>
		<div class="nav-wrapper" style="background: black">
  		<a href="/" class="brand-logo">Koopuluri</a>
		  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		  <ul class="right hide-on-med-and-down">
		    <li><a href="/posts">Posts</a></li>
		    <li><a href="/photography">Photograpy</a></li>
		  </ul>
		  <ul class="side-nav" id="mobile-demo">
				<li><a href="/posts">Posts</a></li>
		    <li><a href="/photography">Photograpy</a></li>
		  </ul>
		</div>
	</nav>
	<div id="title-container"><h1><%= title %></h1></div>
	<div id="timestamp"><%= timestamp %></div>
	<div id="content">
		<div class="poop">

			<div>
				Writing forces me to answer questions like:
				<div class="bold">
					<p> - Why am I saying this?</p>
					<p> - What point am I trying to make?</p>
					<p> - How is this useful?</p>
				</div>

			</div>

			<p>
				When I consume content on the other hand, I'm not forced into this deep thinking mode.
				I've caught myself consuming content at a superficial level many times. That's not a
				good way to spend my time. [1]
			</p

			<p>
				To gain value from the content I consume, I need to read critically. But I come across another
				problem going down this path:
			<p>

			<p class="bold">
				Many times, after reading something critically, when I attempt to write my opinions / criticisms about it,
				I notice holes in my thought process - it's usually underthought. I've probably cheated myself
				of true understanding many times because I "felt" that I understood something when I really didn't.
			<p> 

			<p>
				This is where writing my thoughts helps me out - by forcing me to have a deeper understanding
				of what I've just consumed - because it's easier to spot my bullshit when it's dumped on a paper or
				computer screen, and once I spot my bullshit, I can't shift my attention until I think it through.
			</p>

			<p>
				My desire to increase my content creation was the motivation behind <a href="/xnote">Xnote</a>.
			</p>

			<h2>Notes:</h2>

			<div>
			[1] There still might be room for consuming content at a superficial level - for relaxation purposes.
			I'm not sure though, because I'm too far away from that end to have any knowledge of my "requirement" for
			superficial consumption. I have a feeling though that there really isn't any room for superficial consumption - 
			I feel most relaxed when I am absorbed into something I'm doing - when I give it my full attention. 
			<p> I'll found out when I get there. </p>
			</div>
		</div>
	</div>    
	<script src="js/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script> $( document ).ready(function(){
    	$(".button-collapse").sideNav();
    });</script>
</body>

