<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:900,400' rel='stylesheet' type='text/css'>
    <style> *{font-family: 'Lato', sans-serif;} </style>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/post.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
	<nav>
		<div class="nav-wrapper" style="background: black">
  		<a href="/" class="brand-logo">Koopuluri</a>
		  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		  <ul class="right hide-on-med-and-down">
		    <li><a href="/posts">Posts</a></li>
		    <li><a href="/photography">Photograpy</a></li>
		  </ul>
		  <ul class="side-nav" id="mobile-demo">
				<li><a href="/posts">Posts</a></li>
		    <li><a href="/photography">Photograpy</a></li>
		  </ul>
		</div>
	</nav>
	<div id="title-container"><h1>Meet Peeps</h1></div>
	<div id="timestamp">2/11/16</div>
	<div id="content">
		<div class="poop">
			<h4>What is it?</h4>
			<p class="bold"> An app to meet others around you with shared interests. </p>

			<div class="demo">

				<div class="row">
					<div class="col s12 m6">
						<div class="card-panel">
				         	<img src="meets.gif" height: "300px"></img>
				        </div>
			        </div>
			        <div class="col s12 m6">
				        <p> Check out the meets near you - anything that people posted in a 1 mile radius.</p>
			        </div>
			    </div>
				<div class="row">
					<div class="col s12 m6">
				        <p> Once you've joined a meet, you can chat with the members.</p>
				        <p>Flesh out logistics or just say hi. </p>
				        <p>Keep in touch with other attendees once it's over</p>
			        </div>
					<div class="col s12 m6">
						<div class="card-panel">
				         	<img src="chat.gif" height: "300px"></img>
				        </div>
			        </div>
			    </div>
			</div>

			<h4>Why?</h4>

			<p> Things I've heard: </p>

			<blockquote>"I'm a new student. Going to student clubs and huge events is a lot of effort to meet new people."</blockquote>
			<blockquote>"I just need a person to play ping pong with this afternoon."</blockquote>
			<blockquote>"After I started work, it's been tough to meet new people outside of my team."</blockquote>

			<p class="bold">There are many opportunities for casual interactions with those around us that currently don't have avenues to utilize.</p>

			<h4>Path Leading to This:</h4>

			<p>Since I came to college, I've made an attempt to meet strangers around me. Many of my friends are those that I met inorganically (not through mutual friends) - at coffee shops, basketball courts, streets, cafeteria tables, etc. But initiating conversations randomly isn't as easy as it can be.
			<p>

			<p><a href="http://www.koopuluri.com/chai">This past summer, a friend and I made chai and posted on a Berkeley facebook group a few times over the course of a week and had many students come over to our place for chai and conversation.</a></p>

			<p>Students enjoyed meeting other students around them.</p>

			<p>When I got back to Georgia Tech, I wanted to generalize the idea of meeting other students with an app in which students could post what they were doing at a particular time, and others students could join them if they were interested: <a href="https://meet-at-tech.herokuapp.com">https://meet-at-tech.herokuapp.com</a></p>

			<p>In this experiment, the users were anonymous (the motivation was to remove the superficial biases people have when meeting new people: eg. what they look like, their gender, interests, etc.), but it was quickly clear that anonymity wouldn't work - meeting strangers without knowing anything about them is a tough proposition. </p>
			<p>The current version of this experiment is to better understand the dynamics at play when people meet new people. It reduces the intimidation of meeting new people via profiles and a way to chat before actually meeting. </p>

      <p>Going to keep learning. </p>

			<h4>Cool, What Next?</h4>

			<p>Working on an ios app that should be out shortly - utilizing feedback on the previous 2 experiments.</p>

			<p>I'd greatly appreciate your feedback!</p>

			<p>If you're interested in meeting in person / talking about anything, shoot me a snap at 'k-uppu' or hit me up at: koopuluri.com / 770-548-4706.</p>

		</div>
	</div>
	<script src="js/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script> $( document ).ready(function(){
    	$(".button-collapse").sideNav();
    });</script>
</body>
