<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content='width=device-width' />
    <link href='https://fonts.googleapis.com/css?family=Lato:900,400' rel='stylesheet' type='text/css'>
    <style> *{font-family: 'Lato', sans-serif;} </style>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/post.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
	<nav>
		<div class="nav-wrapper" style="background: black">
  		<a href="/" class="brand-logo">Koopuluri</a>
		  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		  <ul class="right hide-on-med-and-down">
		    <li><a href="/posts">Posts</a></li>
        <li><a href="/design-thoughts">Design Thoughts</a></li>
		    <li><a href="/photography">Photograpy</a></li>
		  </ul>
		  <ul class="side-nav" id="mobile-demo">
				<li><a href="/posts">Posts</a></li>
        <li><a href="/design-thoughts">Design Thoughts</a></li>
		    <li><a href="/photography">Photograpy</a></li>
		  </ul>
		</div>
	</nav>
	<div id="title-container"><h1><%= title %></h1></div>
	<div id="timestamp"><%= timestamp %></div>
	<div id="content">
		<div class="poop">

			<p>Don't stall if you can't initially find someone to work on an idea with you.</p>

			<p class="bold">Just start building! Progress is a powerful speaker.</p>

			<p>Say you want to work on something with Anne. Put yourself in Anne's shoes. She has the skills to work on whatever project she chooses to. She's already built a few things, and recognized in the community for being a builder. Why should she work on something with you?</p>

			<p>Ideas aren't everything - probably even one of the lesser important parts of starting something. Anne knows that.</p>

			<p>When you talked to Anne at last night's party about the an idea that can "disrupt retail" - she might have been amused, but she definitely didn't gain an ounce of respect for you. Words don't mean shit. Anne shits words every day.</p>

			<p>Then, the next day, when you ask her if she wants to work on the retail disrupting prototype with you, don't get alarmed when she says she's busy. All she could have to do is feed her one cat for the foreseeable future... but that's still busy enough to reject you.</p>

			<p>And if you give up now / stall and don't work on it because you think it's too much work for one person... well you've just validated her concerns.</p>

			<p class="bold">Because you see, Anne gives fucks about the kind of person you are - far more than the ideas you bring up. Can you work? Are you reliable? Do you deliver when you say you will? Are you trustable? How determined are you? Will you flake in the face of adversity?</p>

			<p>Anne doesn't think "Retail" will lay down a red carpet inviting you to shake it up. Anne knows it'll be tough. </p>

			<p>Say instead, you went back home, ignored her rejection, and started building a prototype. You don't even know how to program. You pick up a "Ruby for Dummies" book and realize you're dumber than a dummy. You don't give a fuck. You try anyway. </p>

			<p>In a couple of weeks you have a landing page and talked to 2 potential customers. You're not as bubbly excited. You have a clearer picture of what the problem is.</p>

			<p>You run into Anne at the corner coffee shop. You talk about the idea now, along with the various problems you've run into that you didn't anticipate when you talked about it at the party. You still see a lot of potential. More work to do.</p>

			<p>Eventually your roommate is convinced, and hops on board.</p>

			<p>2 years go by. You can't sustain continuing on this project. You close it down. You're thinking of something else now, that you realized is a big problem when you worked on disrupting retail.</p>

			<p>You run into Anne again at [insert another common place to run into someone].</p>

			<p>Anne's followed your work, and you have hers. You've been in contact for the past couple of years. You've laid a foundation for a partnership. Anne now considers you as someone to work with in the future.</p>

			<p class="bold">Play the long-term game. Sow the seeds now.</p>

	<!-- 		<h2>Notes:</h2>
			[1]
			<div> -->

			</div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script> $( document ).ready(function(){
    	$(".button-collapse").sideNav();
    });</script>
</body>
