<div class="poop">
	<p>
	My friend Vignesh [1] and I found ourselves in Berkeley this past summer working on a couple of projects: an annotation tool [2] and experimenting with a meal sharing platform for students.
	</p>

	<h2> Motivation: </h2>

	<p>
	Our motivation for meal sharing was born from our experience of being hungry, broke and lazy during our time in college… oftentimes too lazy to cook. Back on our campus, we had a system where we had a few friends in our circle that would cook, and the rest of us would go over to grab some food, distributing the cost and effort for ingredients and cleaning. 
	</p>

	<p>
	It was a win-win situation: the people cooking had helping hands, and those coming over would pay less than ordering out, probably eating something healthier than the pop-tarts in their cupboards.
	</p>

	<p>
	What would happen if this meal sharing network was opened up to the larger student community?
	</p>

	<h2> Experiment: </h2>

	<p>Before we started making food and asking other students to pay for a share, we wanted to test out whether they’d be willing to visit a stranger’s place to eat and hang out. This was a crucial part of our experience - every time we got together to cook, we would socialize. And since we barely knew anyone in the area, this would be a great way, if it worked, to meet others. </p>
	
	<p>
	So we scrapped together a pretty basic site to invite people over for some Chai at our place:
	</p>

	<img src="images/chai1.png"></img>

	<p>
	We posted it on a facebook group for Berkeley students called “Free & For Sale” [3] that had about 25 thousand members, where people would post things they’re looking to buy, sell or give away. 
	</p>

	<p>
	A handful of people signed up and came over that evening. We were surprised that people would be OK coming over to our place for Chai when they didn’t know who we were, didn’t have access to picture of us, or our background information (besides the fact that we were students). 	</p>

	<p>
	We continued to make chai and post in the group roughly every other day for the next week. Each day more people trickled through and we would have interesting group conversations ranging from politics to the culture, and economics behind hair transplants.   
	</p>

	<p>All in all about 70 people came through over 5 get-togethers over the week with a 100 signups. 
	</p>

	<h2> Learning: </h2>

	<img src="images/charcha.jpg"></img>

	<p class="bold">
	The people are what make a place. And I found this experience to be a great way to understand the culture and history of Berkeley - through the people that live there.
	</p>

	<p> It wasn’t surprising that people wanted to meet others in the area. </p>

	<p> 
	But it was surprising that people were willing to go to a complete stranger’s place, and that on average each person stayed for more than an hour (with one person spending 30 minutes - the shortest time) having conversations.
	</p>

	<h2> Observations: </h2>

	<p>
	I respect the value provided by social media platforms - I’ve met quite a few people this way, and I’ve maintained and enhanced relationships with people that I probably wouldn’t have without social platforms. But I also feel I’ve shortchanged my in person interactions - I have deeper interactions with people when I can absorb details about them that aren’t only the words they say.
	</p>

	<h2> Further Exploration: </h2>

	<p>I’ve always attempted to interact with people around me, but I’ve recently made a systematic effort to introduce myself to people sitting alone at the cafateria on my campus. </p>

	<p>I’ve had interesting conversations, and also shooed away - which I expected to happen. I wish people would wear signs that would just say how open they are to meeting people at that moment. This would reduce the probability of getting shooed away, and with a reduced chance for rejection, I predict more people would try to meet strangers in their communities. 
	</p>

	<h2> Notes: </h2>

	<p> [1] Vignesh and I met each other spring of 2014 playing apartment cricket (https://en.wikipedia.org/wiki/Cricket) at a friend’s place, and have worked on a couple projects since - xnote (see below) and this chai project.</p>

	<p> [2] <b>Xnote</b>: A collaborative annotation tool for groups that lets users upload content and annotate them - automatically sharing those annotations with the rest of the group - (www.xnote.io). We started with an Android app for individual annotations, and subsequently built the web version for groups. </p>

	<p> [3] Thanks so much Pranati and Ngoc for helping us find a place to live and post in Berkeley groups that we didn't have access to! </p>

</div>


















