<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/post.css" type="text/css"/> 
    <link rel="stylesheet" href="css/chai.css" type="text/css"/>
</head>

<body>
	<div id="title-container">
		<h1>Chai Pe Charcha</h1>
		<h2>(Discussion Over Chai)</h2>
		<h2>(Chai = Tea ⇒ Chai Tea = Tea Tea)</h2>
	</div>

	<div id="timestamp"><%= timestamp %></div>

	<div id="content">
		<div class="poop">
			<p>
			My friend Vignesh[1] and I were in Berkeley this summer (2015) working on <a href="/xnote">Xnote</a>.
			</p>

			<p>
			Due to various reasons we decided to experiment with others things. After a bit of brainstorming, we decided to explore meal sharing between college students. 
			</p>

			<p>
			We were hungry and frugal students. I personally don’t like to cook (read - I suck). We felt there could be value in enabling students to share their food with other students, for a price.
			</p>

			<p>
			Eating together at school was a valuable social time for us, so we thought to combine the two:
			</p>

			<p class="bold">
				<b>A social meal sharing platform:</b> Meet students you haven’t met before, over food that’s cheaper than your restaurant alternative. Students could get together, cook, eat, and clean up
			</p>

			<p>
				There were and are many services that provided delivered food to students, but we felt the social experience wasn’t present and this combination was the direction for our experimentation.
			</p>

			<h2> Experiment: </h2>

			<p>The first question we wanted to answer was - <b>“Would students be comfortable visiting a strangers place?”</b>.</p>
			
			<p>
			In our initial design, we pushed the limits of being sketch: the site mentioned that we were a couple of students that wanted to get some feedback on our chai, and that we’d start making it around 7pm. If you wanted to come, you’d have to submit your email address in a text field. We’d send the location and phone details to the email address.
			</p>

			<div class="image-box">
				<img src="images/chai1.png"></img>
			</div>

			<p>
			Through friends that go to the university, we posted on a Berkeley Facebook group called “Free and For Sale” where students buy / exchange items. [2] 
			</p>

			<p>
				We didn't expect anyone to show up. 	
			</p>

			<p>About 14 people signed up. I was a little nervous - is our living room big enough? Do we have enough milk for the chai? What if they're creeped out by me when I open the apartment gate signalling them to follow me up a narrow flight of stairs for 4 floors. Crap, I should've shaved.</p>

			<p>
			Before our first sign-up came, a couple of our roommate's friends showed up and chilled in the living room with some of our chai. The potential creepiness factor for the first person was drastically reduced. 
			</p>

			<p> 4 people out of the 14 finally rolled through. </p>

			<p>We built reputation up for the next time by adding profiles of ourselves - with our interests and pictures of us, and by adding pictures of the get-together and polished the site.
			</p>

			<p>
			We continued to host the get-togethers roughly every other day for a total of 5 times. 70 people came through with roughly a 100 signups. 
			</p>

			<div class="image-box">
				<img src="images/charcha.jpg"></img>
			</div>

			<h2> Observations: </h2>


			<p class="bold">
			Most of the people that came were below the age of 21, lived close by (within walking distance), and each stayed on average for an hour - with the shortest duration being about 20 minutes.
			</p>

			<div class="speculation">
				<h3> Speculation: </h3>

				<p>The age skew was interesting, it might be that, for students under 21, other avenues to meet new people are closed off (such as bars / taverns), and this get-together filled that gap... 
				<p>

			</div>



			<p> We were surprised with how long people stayed for. There was clearly a social value that kept people long after drinking their chai. 
			</p>

			<p> 
			There was a large variance in the academic and professional backgrounds in the people that came - this crowd was more diverse than what I’d usually encounter when I meet new people organically (via friends, colleagues, conferences, etc.) - (I have a theory for this that I’ll post later.)
			</p>

			<p class="bold">
				I found this interaction with new people of diverse backgrounds to be tremendously valuable because it exposed me to problems, that I probably wouldn’t have thought of alone, from people who are directly involved with them. That’s valuable for me because I like to think about and attempt to solve problems I think are worthwhile. Having an understanding of more problems gives me potentially more avenues to explore in life.
			</p>

			<h2> Concluding Thoughts: </h2>

			<p>
			We had great responses from people that came and surprisingly received quite a few emails from incoming freshmen asking when the next get-together would be and whether we’d have them when school starts. 
			</p>

			<p>
			This experience was refreshing. It’s not a revolutionary idea - to organize get-togethers for people in our communities, but I feel I haven’t taken advantage of this powerful way to interact with my community. 
			</p>

			<h2> Notes: </h2>

			<p> [1] Vignesh and I met each other spring of 2014 playing apartment cricket (https://en.wikipedia.org/wiki/Cricket) at a friend’s place, and have worked on a couple projects since - <a href="/xnote">Xnote</a> and this chai project.</p>

			<p> [2] Thanks a bunch Pranati and Ngoc for helping us find a place to live and post in Berkeley groups that we didn't have access to. </p>

		</div>
	</div>
</body>
</html>


















