<!DOCTYPE html>
<html lang="en">
<head>
  <meta name='viewport' content='width=device-width' />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/post.css" type="text/css"/>
</head>

<body>
	<div id="title-container"><h1><%= title %></h1></div>
	<div id="timestamp"><%= timestamp %></div>
	<div id="content">
		<div class="poop">
			<p> Systems are hard to change once they've stabilized. </p>

			<p> I ran into an incident today where I asked an administrator at college about why a certain process for students was so inefficient. The reply was along the lines of “It does seem to be inefficient, but I’m sure there’s a reason for that - given the various constraints and needs of the departments. Your effort is noble, but I don’t think much can be done about it.”.
			</p>

			<p>
			Even after asking more questions to clarify what they meant by “various constraints and needs”, I wasn’t satisfied - this person didn’t really know why, but were biased against change regardless.
			</p>

			<p>
			Now, this definitely isn’t unique to this person. I believe all of us are resistant to change to some extent - If you observe our actions as a society, you can see that there’s a tendency towards stability; stable jobs, weather, etc.
			</p>

			<p>But there’s a problem when it hides issues that should, and can be solved if given attention.</p>

			<p>
			When you come across resistance to a change that you propose (including your own resistance), and the reasoning isn’t satisfactory - dig deeper relentlessly.
			</p>

		</div>
	</div>
</body>


</html>
