<div class="poop">
	<div class="bold centered">
		<p>I met this guy Vernon Price as I was walking in Downtown ATL late last night.</p>
		<p>He's from Dallas and he wants to be heard.</p>
	</div>
	<img class="profile" src="images/vernon.jpg"></img>
	<p> "I’m going to Dekalb Tech to get my LCDC license so I can talk to little kids in Juvenile because I still see the things that they see."</p>


	<h1>From Vernon:</h1>

	<h3>Prelude:</h3>
	<div class="bold">
	Lemme give y’all something I wrote in 1992. Lil’ Wayne, Eminem, not one ‘em can fuck with me. Like for real. I’m serious. I wrote this in 1992 and Ima give one hook and one verse.
	</div>

	<div class="verse">
		<div class="upper-margin-large">
			<p>Mines too, Mines too Mines too</p>
			<p>Mines too, Mines too Mines too</p>
			<p>You say your hood known for breedin’ killers, Mine Too!</p>
			<p>You say your niggas strapped with big ass bro, Mine Too!</p>
			<p>You say you grew up in a wild hood, Me too!</p>
			<p>We ain’t playin games with yo pussy ass niggas fool</p>
			<p>See y’all no real ape niggas  that go straight bananas</p>
			<p>And we go put this flame to ya like a glade(?) candle.</p>
		</div>

		<div class="upper-margin-large">
			<p>A Real Animal</p>
			<p>Real Nigga Hannibal</p>
			<p>Put my fist to ya face bitch, break ya whole mandible</p>
		</div>

		<div class="upper-margin-large">
			<p>See Y’all no hit men, best be known as killa men</p>
			<p>Leave holes in yo ass, the same size as a soda can</p>
			<p>Mirror me little brotha you gets no reflection</p>
			<p>I hit you with that Danny Glover boy, that lethal weapon</p>
			<p>You think they stop makin guns when they made yours?</p>
			<p>Bitch I got that 2 baby glocks, that boy and that girl</p>
			<p>You say your hood full a lions, tigers and broma bulls</p>
			<p>My hood fulla giant monsters and werewolves</p>
			<p>You say you gettin it poppin the club, Mine too!</p>
			<p>But yo niggas throwin up the wrong signs fool</p>
			<p>I’m allergic to y’all pussy niggas Haachooo!</p>
		</div>
	</div>

	<h2>Tears of a Hustler</h2>
	<h3>Prelude:</h3>

	<div class="bold">
	All you people that’s walkin around, everybody’s got problems and demons.
But for the motherfuckers that aren’t as fortunate as you, there’s a god damn thing called PAY IT FORWARD! And there’s another such thing called Karma.
		<div class="upper-margin">
			Everybody needs help. And society is so fucked up that’s why you think like that.
			The name of this song’s called “Tears of a Hustler” and it’s about society, so hear this shit:
		</div>
	</div>

	<div class="verse">

		<div class="upper-margin-large">
			<p>Damn shame, these people playin their life like games</p>
			<p>Little kids growin up that don’t know their Daddies names</p>
			<p>But see they blame my Mama for the way I be</p>
			<p>That’s fucked up, let’s take a look at society</p>
		</div>

		<div class="upper-margin-large">
			<p>They feedin countries over seas, but whatabout me?</p>
			<p>A ghetto child in da hood with nothin to eat</p>
			<p>My momma cryin, my sista’s face been full of tears</p>
			<p>I left my school, stop fuckin around with all my peers</p>
			<p>And now I’m lookin at the street game for support</p>
			<p>They tell me how to cook it up, yeah distribute work</p>
			<p>Standin on the corner with these hustlas and these pimps</p>
			<p>And all these hoes with these …</p>
		</div>


		<div class="upper-margin-large">
			<p>The (?) been paid, my stomach full, we livin large</p>
			<p>See me creepin through their hood now, they paranoid</p>
			<p>A young savage, I live my life like a beast</p>
		</div>

		<div class="upper-margin-large">
			<p>And now take a look at how society made me to be</p>
			<p>That’s how society made everybody to be</p>
			<p>You motherfuckers just don’t understand that all the problems that you got are…</p>
		</div>

		<div class="bold">Buddha said people suffer because they desire shit that they really don’t need.
	</div>


		<p>The world is fucked up.</p>
		<p>A young body gettin tossed up</p>
		<p>Our reputation got us nowhere but straight to jail</p>
		<p>We on the main line on a one way ticket straight to hell</p>
		<p>This paper chase, a game with tricky claws</p>
		<p>Wicked ways, smokin water with no more thoughts</p>
		<p>Hopes and dreams, just dirty underhanded schemes</p>
		<p>If you a hustler then you know exactly what I mean</p>
		<p>The consequences of my lifestyle, we gotta deal with</p>
		<p>So take a look at society so you can feel it.</p>

	</div>

</div>




























