<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/post.css" type="text/css"/> 
</head>

<body>
	<div id="title-container"><h1><%= title %></h1></div>
	<div id="timestamp"><%= timestamp %></div>
	<div id="content">
		<div class="poop">
			<p>
			I created this site because I want to get better at writing. The only way I know how is to keep writing.
			</p>

			<p>
				I want to publicly post my thoughts because:
				<ul>
					<li>I can easily refer to previous work.</li>
					<p></p>
					<li>
						I'm forced to organize and break down my thoughts to a greater degree than I would if I just wrote for myself.
					</li>
					<p></p>
					<li>Shit. Someone might actually find it useful.</li>
					<p></p>
				</ul>
			</p>
		</div>
	</div>
</body>

