<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:900,400' rel='stylesheet' type='text/css'>
    <style> *{font-family: 'Lato', sans-serif;} </style>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/post.css" type="text/css"/> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>

	<nav>
		<div class="nav-wrapper" style="background: black">
    	  <a href="/" class="brand-logo">Koopuluri</a>
		  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		  <ul class="right hide-on-med-and-down">
		    <li><a href="/posts">Posts</a></li>
		    <li><a href="/photography">Photograpy</a></li>
		  </ul>
		  <ul class="side-nav" id="mobile-demo">
				<li><a href="/posts">Posts</a></li>
		    <li><a href="/photography">Photograpy</a></li>
		  </ul>
		</div>
	</nav>

	<div id="title-container"><h1><%= title %></h1></div>
	<div id="timestamp"><%= timestamp %></div>
	<div id="content">
		<div class="poop">
			<p>
			I created this site because I want to get better at writing. The only way I know how is to keep writing.
			</p>

			<p>
				I want to publicly post my thoughts because:
				<ul>
					<li>-->		<b>I can easily refer to previous work.</b></li>
					<p></p>
					<li>
						-->		<b>I'm forced to organize and break down my thoughts to a greater degree than I would if I just wrote for myself.</b>
					</li>
					<p></p>
					<li>-->		<b>Shit. Someone might actually find it useful.</b></li>
					<p></p>
				</ul>
			</p>
		</div>
	</div>
		<script src="js/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script> $( document ).ready(function(){
    	$(".button-collapse").sideNav();
    });</script>
</body>
</html>

