<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:900,400' rel='stylesheet' type='text/css'>
    <style> *{font-family: 'Lato', sans-serif;} </style>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/post.css" type="text/css"/> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>


<body>
 	<nav>
		<div class="nav-wrapper" style="background: black">
    	  <a href="/" class="brand-logo">Koopuluri</a>
		  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		  <ul class="right hide-on-med-and-down">
		    <li><a href="/posts">Posts</a></li>
		    <li><a href="/photography">Photograpy</a></li>
		  </ul>
		  <ul class="side-nav" id="mobile-demo">
				<li><a href="/posts">Posts</a></li>
		    <li><a href="/photography">Photograpy</a></li>
		  </ul>
		</div>
	</nav>

	<div id="title-container"><h1><%= title %></h1></div>
	<div id="timestamp"><%= timestamp %></div>
	<div id="content">
		<div class="poop">

			<p> My friend Vignesh and I worked on building annotation tools to more 
			effectively discuss content on the web. </p>

			<h2> Motivation: </h2>

			<p>I wanted to increase my <a href="/content-creation">content creation</a>.</p>

			<p>
			Most of my reading took place on mobile [1], but there weren't any good tools to take notes on what I read, and share my notes if necessary.
			</p>

			<p>
			That led to Xnote:
			<p>
			<p class="bold">
			A tool that would let me save articles to read later, and annotate regions of it as I read. These annotated snippets could then be shared easily. 
			</p>

			<div class="img-box">
				<h3>Annotate:</h3>
				<img class="xnote-image" src="images/xnote_highlight_tutorial.png"></img>
			</div>

			<div class="img-box">
				<h3>Share:</h3>
				<img class="xnote-image" src="images/xnote_note_share_tutorial.png"></img>
			</div>

			<div class="img-box">
				<h3>Search:</h3>
				<img class="xnote-image" src="images/xnote_search_tutorial.png"></img>
			</div>

			<div class="img-box">
				<h3>Flow:</h3>
				<img class="xnote-image" loop="infinite" src="images/xnote.gif"></img>
			</div>

			<p class="upper-margin">
				We then pivoted to a <a href="http://www.xnote.io">social direction</a> where group discussion was the focus instead of note-taking for personal purposes.
			</p>

			<p class="bold">
				A web based, social annotation platform for reading groups to share content and their annotations with each other. 
			</p>

			<div class="img-box">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/sp_N5nrRlvA" frameborder="0" allowfullscreen></iframe>
			</div>

			<p> In another post, I'll go over the mistakes we made in this process. </p>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script> $( document ).ready(function(){
    	$(".button-collapse").sideNav();
    });</script>
</body>

